.todo-containers {
    width: max-content;
    margin: auto;
    text-align: center;
}

.todo_form form {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
}

.todo_form input {
    height: 25px;
    width: 250px;
    padding-left: 5px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    color: #535353;
    font-size: 15px;
}

.todo_form button {
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #2778ff;
    color: white;
    width: max-content;
}

.todo_form input::placeholder {
    font-size: 15px;
}

.todo-containers ul {
    min-width: 500px;
    margin: 15px auto;
    padding: 15px;
    color: #535353;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    list-style: none;
    text-align: left;
}

.todo-containers ul li {
    width: auto;
    border: 1px solid #bbbbbb;
    border-bottom: none;
    list-style: none;
    text-align: left;
}

.todo-view {
    display: grid;
    grid-template-columns: 1fr auto auto;
    color: #535353;
    padding: 5px;
}

.todo-view__block {
    display: grid;
    grid-template-columns: 150px 300px auto;
    grid-column-gap: 10px;
}

.todo-view__block-title {
    padding: 0 5px;
}

.todo-containers ul li:last-child {
    border-bottom: 1px solid #bbbbbb;
}

.todo-containers ul li .delete-todo  {
    position: relative;
    width: 25px;
    opacity: 0.3;
}

.todo-containers ul li .delete-todo:hover {
    opacity: 1;
}

.name-todo {
    align-self: center;
}

.delete-todo:before, .delete-todo:after {
    position: absolute;
    left: 15px;
    top: 3px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
    cursor: pointer;
}

.delete-todo:before {
    transform: rotate(45deg);
}

.delete-todo:after {
    transform: rotate(-45deg);
}

.edit-todo:before{
    content: "\2710";
    font-size: 20px;
    cursor: pointer;
}

.save-todo:before{
    content: "\2714";
    font-size: 20px;
    cursor: pointer;
}

.todo-input {
    border: none;
}

.todo_form input.add-todo__input_error {
    border: 1px solid crimson;
}

.add-todo__tooltip {
    position: absolute;
    top: 5px;
    right: 5px;
    width: max-content;
    border-radius: 14px;
    color: crimson;
    text-align: right;
}

.add-todo__tooltip-hide {
    display: none;
}

.position-relative {
    position: relative;
}